*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
body{
    font-family: Arial, sans-serif;
    background-image: url(./assets/images/92.jpg);
    background-color: #4c707a;
    color: #333;
    height: 100vh;
    width: 100vw;
}
.contain{
    background-color: #460793;
   color: #fff;
    padding: 20px;
    text-align: center;
    margin: 200px auto;
}
h2{
    padding: 10px;
    color: rgb(126, 7, 177);
    font-size: 2.3rem;
}
.generator-container{
    background-color: #3b6a78;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

