*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
body{
    font-family: Arial, sans-serif;
    background-image: url(./assets/images/92.jpg);
    background-color: #4c707a;
    color: #333;
    height: 100vh;
    width: 100vw;
}
.contain{
    background-color: #460793;
   color: #fff;
    padding: 20px;
    text-align: center;
    margin: 200px auto;


}
